@import url(./root.css);
@import url(./media.css);

body{
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    font-family: var(--font-family);
    color: var(--font-color);
}

/* home section */
.home{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, 
    rgba(57,57,60,1) 35%, 
    rgba(68,84,87,1) 89%);
}

.header{
    justify-content: space-between;
    padding: 15px;
}

.logo{
    width: 80px;
}

.nav-bar{
    display: none;
}

.fa-bars{
    font-size: 30px;
}

/* service value desc */
.value-desc{
    width: 100%;
}

.value-desc h1{
    text-transform: uppercase;
    font-weight: var(--font-900);
    font-size: calc(1.2rem + 3vw);
}

.value-desc p{
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.01em;
}

.btn-one{
    font-size: 14px;
    font-weight: var(--font-300);
    font-family: var(--font-family);
    color: #000000;
    line-height: 45px;
    text-transform: uppercase;
}

.scrollbar-images{
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.scrollbar-images .fa-ellipsis{
    display: none;
}

/* end home section */

/* choose plan section */
.choose-plan{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 20px;
}

.singer-girl{
    padding: 15px;
    width: 100%;
    max-width: 964px;
}

.singer-girl, 
.sing-girl{
    width: 100%;
}

.choose-plan-description{
    width: 100%;
}

.plan-title{
    text-transform: uppercase;
    font-weight: var(--font-600);
    font-size: calc(1.2rem + 3vw);
}

.plan-desc{
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.050em;    
}

.btn-two{
    background-color: #6EC827;
    color: #ffffff;
    font-weight: var(--font-300);
    font-size: 18px;
    line-height: 45px;
    text-transform: capitalize;
}


/* end choose plan section */

/* Genres Section */
.genres-section{
    background-color: #D9D9D9;
    width: 100%;
    padding: 20px;
    gap: 20px;
}

.genres-description{
    font-weight: var(--font-600);
    font-size: 24px; /* changed 55 */
    line-height: 30px;  /*changed 82 */
    text-align: center;
    letter-spacing: 0.01em;
    color: #000000;
    padding-top: 15px; /* deleted */
}

.pl-any{
    color: #1E1E1E;
}

.img-g{
    width: calc(100% - 10px);
    max-width: 900px;
}
/* End Genres Section */

/* Services Section */
.services-section{
    margin: 30px 0;
    width: 100%;
    align-items: center;
}

.services-section-header{
    max-width: 910px;
    padding: 10px;
}

.ser-h1{
    font-weight: var(--font-900);
    font-size: 33px; /* changed 63 */
    line-height: 44px; /* changed 94 */ 
    text-align: center;
    letter-spacing: 0.01em;
    color: #000000; 
}

.ser-desc{
    font-weight: var(--font-400);
    font-size: 18px; /* changed 36 */
    line-height: 24px; /* changed 54 */
    text-align: center;
    letter-spacing: 0.01em;
    color: #1E1E1E;
}

.show-services{
    margin: 30px 0;
} 

.show-table{
    width: 230px;
    height: 50px;
    background-color: #1E1E1E;
    border: none;
    border-radius: 12px;
    
    font-size: 1.2rem;
    color: var(--font-color);
    font-family: var(--font-family);
    text-transform: uppercase;
}

.premium-table{
    display: none;
}
/* End Services Section */

/* Footer Section */
.footer{
    background: linear-gradient(180deg, #262826 0%, #0D0D0D 100%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 30px;

}

.footer-categ{
    display: flex;
    flex-flow: column wrap;
    gap: 15px;
}

.company-list li,
.communities-list li,
.us-lin-list li{
    display: none;
}

.list-title{
    display: inline-block;
    text-transform: uppercase;
    font-weight: var(--font-600);
    font-size: 1.1rem; /* changed 37 */
    line-height: 26px; /* changed 56 */
    letter-spacing: 0.01em;
}

.list-title i{
    font-size: 16px;
    transition: transform .1s ease-in-out;
}

.list-title i:hover{
    transform: rotate(180deg);
}
/* End Footer Section */


/* DEFAULT CLASSES */
/* cursor pointer */
.poi{
    cursor: pointer;
}

/* flexrow */
.def-flex-row{
    display: flex;
    flex-direction: row; 
    align-items: center;
}

/* flexcolumn */
.def-flex-col{
    display: flex;
    flex-direction: column; 
    justify-content: center;
}
/* A common class of buttons */
.primary-btn{
    width: 150px;
    height: 45px;
    border: 2px solid rgba(255, 255, 255, 0.35);
    border-radius: 34px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: .2s all ease-in-out;
}

/* primary btn hover */
.btn-hover:hover{
    transform: scale(0.9);
    background-color: #000000;
    color: #ffffff;
}

/* description divider */
.desc-divider{
    padding: 10px;
    gap: 12px;
    min-width: 290px;
    max-width: 642px;
}